<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="CRM" connectionString="Data source=198.71.54.115; Initial catalog=BD_AVSEG_DEV; User id=saacosta; Password=4c0st4" />
    <add name="GAV_BI" connectionString="Data source=ServerTest; Initial catalog=GAV_BI; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_CATALOGOS" connectionString="Data source=ServerTest; Initial catalog=GAV_CATALOGOS; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_CC" connectionString="Data source=ServerTest; Initial catalog=GAV_CC; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_CCE" connectionString="Data source=ServerTest; Initial catalog=GAV_CCE; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_COBRANZA" connectionString="Data source=ServerTest; Initial catalog=GAV_COBRANZA; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_COMERCIAL" connectionString="Data source=ServerTest; Initial catalog=GAV_COMERCIAL; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_COMPRAS" connectionString="Data source=ServerTest; Initial catalog=GAV_COMPRAS; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_CONTRALORIA" connectionString="Data source=ServerTest; Initial catalog=GAV_CONTRALORIA; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_CRM" connectionString="Data source=ServerTest; Initial catalog=GAV_CRM; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_DH" connectionString="Data source=ServerTest; Initial catalog=GAV_DH; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_PSICOWIN" connectionString="Data source=ServerTest; Initial catalog=GAV_PSICOWIN; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_DIRECCION" connectionString="Data source=ServerTest; Initial catalog=GAV_DIRECCION; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_FACTURACION" connectionString="Data source=ServerTest; Initial catalog=GAV_FACTURACION; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_FINANZAS" connectionString="Data source=ServerTest; Initial catalog=GAV_FINANZAS; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_GLOBAL" connectionString="Data source=ServerTest; Initial catalog=GAV_GLOBAL; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_GOBCORP" connectionString="Data source=ServerTest; Initial catalog=GAV_GOBCORP; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_INTERFACES" connectionString="Data source=ServerTest; Initial catalog=GAV_INTERFACES; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_INVEX" connectionString="Data source=ServerTest; Initial catalog=GAV_INVEX; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_LEGAL" connectionString="Data source=ServerTest; Initial catalog=GAV_LEGAL; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_LOCATARIOS" connectionString="Data source=ServerTest; Initial catalog=GAV_LOCATARIOS; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_MERCADOTECNIA" connectionString="Data source=ServerTest; Initial catalog=GAV_MERCADOTECNIA; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_PLANEACION" connectionString="Data source=ServerTest; Initial catalog=GAV_PLANEACION; User id=UserTest; Password=PasswordTest" />

    <add name="GAV_SAFE" connectionString="Data source=198.71.54.115; Initial catalog=BD_AVSeguridad; User id=saacosta; Password=4c0st4" />
    <add name="GAV_TESORERIA" connectionString="Data source=ServerTest; Initial catalog=GAV_TESORERIA; User id=UserTest; Password=PasswordTest" />
    <add name="GAV_TI" connectionString="Data source=ServerTest; Initial catalog=GAV_TI; User id=UserTest; Password=PasswordTest" />
  </connectionStrings>
  <appSettings>
    <add key="DevelopOn" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NombreSistema" value="Transpaso Acosta Verde" />
    <add key="P10" value="0" />
    <add key="RedireccionLogin" value="https://apps.grupoav.com/AV/app_login/Default.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
